# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: breakglass
rules: # tmp solution
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
