# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

include:
  - project: 'schiff/tools/ci/shared-pipeline-resources'
    ref: "${SHARED_PIPELINE_VERSION}"
    file: 'golang/generic.yaml'

variables:
  HARBOR_IMAGE_NAME: "harbor.das-schiff.telekom.de/schiff/breakglass"
  GO_BIN_NAME: "breakglass"

build-frontend:
  stage: build
  image: node:18
  artifacts:
    paths:
      - frontend/dist
  script:
  - |
    set -x
    cd frontend
    npm install
    npm run build


# configure kaniko image job
kaniko-image:
  needs: [go-build, build-frontend]
  variables:
    KANIKO_REGISTRIES: "${HARBOR_IMAGE_NAME}"
    KANIKO_EXTRA_ARGS: >-
      --build-arg BINARY_SOURCE_PATH=${GO_BIN_DIR_ROOT}/linux/amd64/${GO_BIN_NAME}
