server:
  listenAddress: :8080
  tlsCertFile: /some/file.crt
  tlsKeyFile: /some/file.key
  baseURL: http://breakglass.example.telekom.de
keycloak:
  url: http://127.0.0.1:8080
  clientID: breakglass
  clientSecret:
  loginrealm: master
  managedrealm: master
frontend:
  oidcAuthority: http://127.0.0.1:8080/realms/master
  oidcClientID: breakglass-ui
  baseURL: http://localhost:5173
mail:
  host: 127.0.0.1
  port: 1025
breakglassjwt:
  jwtprivatekey:
  jwtpublickey:
  expiry: 1800
  issuer: breakglass-ref
