apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "breakglass-controller.fullname" . }}-escalation-manager-role
  labels:
  {{- include "breakglass-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - breakglass.t-caas.telekom.com
  resources:
  - breakglassescalations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - breakglass.t-caas.telekom.com
  resources:
  - clusterconfigs
  - clusterconfigs/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - breakglass.t-caas.telekom.com
  resources:
  - denypolicies
  - denypolicies/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
