apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "breakglass-controller.fullname" . }}-impersonate-auth-manager-role
  labels:
  {{- include "breakglass-controller.labels" . | nindent 4 }}
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
rules:
- apiGroups:
  - ""
  resources:
  - users
  - groups
  verbs:
  - impersonate
- apiGroups:
  - authorization.k8s.io
  resources:
  - selfsubjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "breakglass-controller.fullname" . }}-impersonate-auth-manager-rolebinding
  labels:
  {{- include "breakglass-controller.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "breakglass-controller.fullname" . }}-impersonate-auth-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "breakglass-controller.serviceAccountName" . }}'
  namespace: '{{ .Release.Namespace }}'
