apiVersion: v1
kind: Service
metadata:
  labels:
    app: breakglass
  name: breakglass-webhook-service
  namespace: breakglass-system
spec:
  ports:
    - name: webhook
      port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    app: breakglass
  type: ClusterIP
