apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: identity-provider-manager-role
rules:
- apiGroups:
  - breakglass.t-caas.telekom.com
  resources:
  - identityproviders
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - breakglass.t-caas.telekom.com
  resources:
  - identityproviders/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
