apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: leader-election-rolebinding
  labels:
    app.kubernetes.io/name: breakglass-controller
    app.kubernetes.io/component: rbac
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: leader-election-role
subjects:
- kind: ServiceAccount
  name: manager
  namespace: system
