# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secrets-reader-role
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]

- apiGroups: [""]
  resources: ["events"]
  verbs: ["create", "patch", "update"]
