apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Build on top of the default kustomization with webhooks enabled
bases:
  - ../default

# Include webhook resources (ValidatingWebhookConfiguration, Certificate, Issuer, Service)
resources:
  - ../webhook

# Patch the Deployment to add webhook port and enable webhooks flag
patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: breakglass-manager
      namespace: breakglass-system
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/ports/-
        value:
          name: webhook
          containerPort: 9443
          protocol: TCP
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --enable-validating-webhooks=true
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --webhook-bind-address=0.0.0.0:9443
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-certs
          readOnly: true
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: webhook-certs
          secret:
            secretName: webhook-server-cert
