# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  labels:
    app: breakglass
  name: breakglass
  namespace: system
spec:
  ports:
  - name: http
    port: 8081
    protocol: TCP
  selector:
    app: breakglass
  type: ClusterIP
