apiVersion: v1
kind: Service
metadata:
  labels:
    app: breakglass
  name: breakglass
  namespace: system
spec:
  ports:
  - name: http
    port: 8081
    protocol: TCP
  selector:
    app: breakglass
  type: ClusterIP
