# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

- op: add
  path: /spec/template/spec/initContainers
  value:
  - name: wait-for-keycloak
    image: curlimages/curl:8.4.0
    args:
      - /bin/sh
      - -c
      - >
        set -x;
        while [ $(curl -sw '%{http_code}' "https://breakglass-dev-keycloak:8443/realms/master/protocol/openid-connect/certs" -o /dev/null --insecure) -ne 200 ]; do
          sleep 5;
        done
