# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: breakglass
        image: breakglass:e2e
        imagePullPolicy: IfNotPresent
        args: ["--debug"]
        resources: {}
