# Adds namespace to all resources.
namespace: breakglass-dev-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
namePrefix: breakglass-dev-

# Labels to add to all resources and selectors.
#labels:
#- includeSelectors: true
#  pairs:
#    someName: someValue

resources:
- ../crd
- ../rbac
- ../deployment
# [CERT-CONTROLLER] webhook should be enabled if automated webhook certificate generation is to be used
# - ../webhook
- ./resources/keycloak.yaml
- ./resources/mailhog.yaml
- ./resources/crs/cluster-configs-test.yaml
- ./resources/crs/deny-policies-test.yaml
- ./resources/crs/escalations-test.yaml
- ./resources/rbac/rbac-hub-test.yaml
- ./resources/rbac/tenant-rbac-test.yaml
- ./resources/idp.yaml

images:
 - name: breakglass
   newName: breakglass
   newTag: dev

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: manager
  path: ./resources/keycloak_wait_initcontainer.yaml
# [CERT_CONTROLLER] this target should be commented if automated webhook certificate generation is to be used
- target:
    group: apps
    version: v1
    kind: Deployment
    name: manager
  path: ./resources/cert_volumes_patch.yaml


patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: breakglass:dev
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: IfNotPresent
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --debug
  # [CERT-CONTROLLER] this target should be enabled if automated webhook certificate generation is to be used 
  # - target:
  #     group: apps
  #     version: v1
  #     kind: Deployment
  #     name: manager
  #   patch: |- 
  #     - op: add
  #       path: /spec/template/spec/containers/0/args/-
  #       value: --webhook-cert-generation=true
  #     - op: add
  #       path: /spec/template/spec/containers/0/args/-
  #       value: --webhook-service-name=breakglass-dev-breakglass-webhook-service
  #     - op: add
  #       path: /spec/template/spec/containers/0/args/-
  #       value: --webhook-validating-config-name=breakglass-dev-breakglass-validating-webhook-configuration
  #     - op: add
  #       path: /spec/template/spec/containers/0/args/-
  #       value: --breakglass-namespace=$(POD_NAMESPACE)
  #     - op: add
  #       path: /spec/template/spec/containers/0/args/-
  #       value: --webhooks-metrics-secure=true
  #     - op: add
  #       path: /spec/template/spec/containers/0/volumeMounts/-
  #       value:
  #         mountPath: /tmp/k8s-webhook-server/serving-certs
  #         name: webhook-cert
  #         readOnly: true
  #     - op: add
  #       path: /spec/template/spec/volumes/-
  #       value:
  #         name: webhook-cert
  #         secret:
  #           defaultMode: 420
  #           secretName: breakglass-dev-breakglass-webhook-service

configMapGenerator:
- name: config
  files:
  - ./config.yaml
- name: keycloak-realm
  files:
  - breakglass-e2e.json=./resources/keycloak-realm.json
- name: breakglass-dev-certs
  files:
  - certs/kind-setup-single-tls/ca.crt


secretGenerator:
- name: keycloak-tls
  files:
  - tls.crt=certs/kind-setup-single-tls/server.crt
  - tls.key=certs/kind-setup-single-tls/server.key
  type: "kubernetes.io/tls"

        
# [CERTMANAGER] To enable cert-manager, uncomment all sections with 'CERTMANAGER' prefix.
# Uncomment the following replacements to add the cert-manager CA injection annotations
#replacements:
# - source: # Uncomment the following block if you have a ValidatingWebhook (--programmatic-validation)
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.namespace # Namespace of the certificate CR
#   targets:
#     - select:
#         kind: ValidatingWebhookConfiguration
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 0
#         create: true
# - source:
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.name
#   targets:
#     - select:
#         kind: ValidatingWebhookConfiguration
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 1
#         create: true
#
# - source: # Uncomment the following block if you have a DefaultingWebhook (--defaulting )
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.namespace # Namespace of the certificate CR
#   targets:
#     - select:
#         kind: MutatingWebhookConfiguration
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 0
#         create: true
# - source:
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.name
#   targets:
#     - select:
#         kind: MutatingWebhookConfiguration
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 1
#         create: true
#
# - source: # Uncomment the following block if you have a ConversionWebhook (--conversion)
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.namespace # Namespace of the certificate CR
#   targets:
#     - select:
#         kind: CustomResourceDefinition
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 0
#         create: true
# - source:
#     kind: Certificate
#     group: cert-manager.io
#     version: v1
#     name: serving-cert # This name should match the one in certificate.yaml
#     fieldPath: .metadata.name
#   targets:
#     - select:
#         kind: CustomResourceDefinition
#       fieldPaths:
#         - .metadata.annotations.[cert-manager.io/inject-ca-from]
#       options:
#         delimiter: '/'
#         index: 1
#         create: true
#
# - source: # Uncomment the following block if you enable cert-manager
#     kind: Service
#     version: v1
#     name: webhook-service
#     fieldPath: .metadata.name # Name of the service
#   targets:
#     - select:
#         kind: Certificate
#         group: cert-manager.io
#         version: v1
#       fieldPaths:
#         - .spec.dnsNames.0
#         - .spec.dnsNames.1
#       options:
#         delimiter: '.'
#         index: 0
#         create: true
# - source:
#     kind: Service
#     version: v1
#     name: webhook-service
#     fieldPath: .metadata.namespace # Namespace of the service
#   targets:
#     - select:
#         kind: Certificate
#         group: cert-manager.io
#         version: v1
#       fieldPaths:
#         - .spec.dnsNames.0
#         - .spec.dnsNames.1
#       options:
#         delimiter: '.'
#         index: 1
#         create: true
