---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: clusteraccessreviews.telekom.breakglass.de
spec:
  group: telekom.breakglass.de
  names:
    kind: ClusterAccessReview
    listKind: ClusterAccessReviewList
    plural: clusteraccessreviews
    singular: clusteraccessreview
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterAccessReview is the Schema for the clusteraccessreviews
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ClusterAccessReviewSpec defines the desired state of ClusterAccessReview.
            properties:
              application_status:
                type: string
              cluster:
                type: string
              duration:
                type: string
              id:
                type: integer
              subject:
                properties:
                  namespace:
                    type: string
                  resource:
                    type: string
                  username:
                    type: string
                  verb:
                    type: string
                type: object
              until:
                format: date-time
                type: string
            type: object
          status:
            description: ClusterAccessReviewStatus defines the observed state of ClusterAccessReview.
            type: object
        type: object
    selectableFields:
    - jsonPath: .spec.id
    - jsonPath: .spec.cluster
    - jsonPath: .spec.application_status
    - jsonPath: .spec.until
    - jsonPath: .spec.subject.namespace
    - jsonPath: .spec.subject.verb
    - jsonPath: .spec.subject.resource
    - jsonPath: .spec.subject.username
    served: true
    storage: true
    subresources:
      status: {}
